.render-notification {
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
    background: var(--secondary);
    color: var(--text-secondary);
}

@media (min-width: 950px) {
    .render-notification {
        font-size: 12px;
    }
}