.movie-item {
    --movie-item-border-radius: 30px;
    --card-width: 100vw;
    flex: 0 0 calc(var(--card-width) - 1em);  
    margin: 10px 0px;
    height: 70vh;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 0px solid var(--accent);
    border-radius: var(--movie-item-border-radius);
    background-position: center;
    background-size: cover;
}

.movie-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: -20px;
    height: 20%;
    background-color: var(--text-secondary);
    border-radius: 0 0 var(--movie-item-border-radius) var(--movie-item-border-radius);
    overflow: hidden;
}

.movie-details > *{
    margin: 0;
}

@media (min-width: 740px)  {
    .movie-item {
        --card-width: 30%
    }
}

@media (min-width: 950px) {
    .movie-item {
        --card-width: 20%
    }
}

@media (min-width: 1200px) {
    .movie-item {
        --card-width: 10%;
        height: 30vh;
    }
}
