*{
    box-sizing: border-box;
}

.search-bar input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 15px 0px 0px 15px;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(255, 239, 222);
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

