.notification {
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
    background: var(--secondary);
    color: var(--text-secondary);
}

.info {
    background: var(--secondary);
}

.error {
    background: var(--error);
}

@media (min-width: 950px) {
    .notification {
        font-size: 12px;
    }
}