.tooltip {
    position: relative;
    background-color: var(--accent);
    float: right;
    height: 10%;
    width: 10%;
    border-radius: 0 var(--card-border-radius) 0 var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip:hover {
    background-color: var(--primary);
}

.tooltip > i {
    font-size: large;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: calc(var(--card-width) * 0.82);
    max-height: var(--card-height);
    overflow-y: auto;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    line-height: 1.2;
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
    position: absolute;
    z-index: 1;
    top: 0%;
    right: 100%;
    opacity: 0;
    padding: 0.2vw;
    transition: opacity 0.3s;
}

.tooltip ::-webkit-scrollbar {
    width: calc(var(--card-width) * 0.02);

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}