:root {
    /* Color scheme */
    --bg: #004EE4;
    --primary: #FCD000;
    --secondary: #00BBE4;
    --accent: #fceb7d;
    --text: black;
    --text-secondary: white;
    --error: #F07167;

    --border-radius: 20px;

    height: 100vh;
}

* {
    box-sizing: border-box;
    color: var(--text);
    font-family: "Angkor", sans-serif;
    border: 0px;
}

html {
    overflow: hidden;
}

html, body {
    height: 100%;
    background-color: var(--bg);
    font-size: 12px;
    margin: 0;
}

body {
    overflow: auto;
}

/* Text scaling */

h2 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.2rem;
}

span {
    font-size: 1rem;
}

@media (min-width: 540px) {
    /* Scroller */
    ::-webkit-scrollbar {
        position: absolute;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--accent);
        border-radius: var(--border-radius);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary); 
    }
}

@media (min-width: 740px)  {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 1.8em;
    }
    
    h6 {
        font-size: 1.125em;
    }
}

@media (min-width: 950px) {

    body {
        font-size: 16px;
    }

    h2 {
        font-size: 1.8rem;
    }
    
    h6 {
        font-size: 1.125rem; 
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    :root > *{
        padding: 20px;
    }
}