.pagination {
    background-color: var(--secondary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: fixed;
    bottom: 0px;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    gap: 1.5vw
}

.pagination button {
    --pagination-size: 5vh;
    height: var(--pagination-size);
    width: var(--pagination-size);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--accent);
}

.pagination button > * {
    background-color: var(--accent);
}

#current {
    background-color: var(--primary);
}

@media (min-width: 740px)  {
    .pagination {
        max-width: 95%;
    }
}

@media (min-width: 950px) {
    .pagination{
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .pagination{
        max-width: 35%;
    }
}